---
import { SITE_NAME } from "../data";
import { Icon } from "astro-icon";
import Statfacts from "../components/statfacts.astro";
import "../globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_NAME}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <style>
      .button-cta {
        background: #a3cef1;
        background: linear-gradient(65deg, #38feff 30%, #5ab5ff 80%);
        background: -webkit-linear-gradient(65deg, #38feff 30%, #5ab5ff 80%);
        background: -moz-linear-gradient(65deg, #38feff 30%, #5ab5ff 80%);
        color: #353535;
      }
      .stat-numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        grid-gap: 20px;
        width: 100%;
        /* padding-top: 40px; */
      }
      .contact-us {
        @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-[#05d9ff] to-[#018fff];
        -webkit-background-clip: text;
        text-align: center;
      }
    </style></head
  >

  <body
    class="flex flex-col items-center w-full snap-y snap-mandatory scroll-smooth"
  >
    <!-- HEADER -->
    <div class="absolute w-full max-w-5xl">
      <div class="flex items-center gap-4 px-4 py-4">
        <i class="text-2xl fa-solid fa-cube"></i>
        <h1 class="text-xl font-bold md:text-3xl">BlackBox 3D Scans</h1>
      </div>
    </div>
    <!-- BODY -->

    <!-- FIRST SECTION -->
    <div class="w-full flex-none h-[100vh] snap-start">
      <div
        class="w-full h-full max-w-5xl px-4 pt-16 m-auto md:pt-24 md:flex md:gap-8"
      >
        <div class="flex flex-col items-start justify-center">
          <h1 class="text-2xl font-extrabold tracking-tighter md:text-4xl">
            Transform your real estate with Matterport scanning
          </h1>
          <p class="mt-2 text-md md:text-lg">
            Take advantage of Matterport scanning technology and unlock new
            possibilities in real estate
          </p>
          <a
            href="https://calendly.com/blackbox3d"
            target="_blank"
            class="my-3 md:my-10 block rounded-xl md:rounded-3xl shadow-lg bg-[#79e297] p-3 md:p-6 text-sm md:text-xl font-bold cursor-pointer w-fit button-cta"
            >Request a Consultation Today <i class="fa-solid fa-arrow-right"
            ></i>
          </a>
        </div>
        <Icon class="pt-2" name="home" />
      </div>
    </div>
    <!-- SECOND SECTION -->
    <div class="w-full flex-none h-[100vh] snap-start">
      <div
        class="flex flex-col items-center justify-around w-full h-full max-w-5xl px-4 py-4 m-auto md:flex md:flex-row-reverse md:items-center md:gap-10 md:py-8"
      >
        <div class="w-full mb-8 md:md-0 md:w-[50%]">
          <h1 class="text-3xl font-bold tracking-tighter">
            Create 3D models of your property
          </h1>
          <p class="mt-2 text-lg">
            With BlackBox 3D Scans, you can capture the full potential of a
            property by creating an interactive 3D model with Matterport
            scanning technology
          </p>
        </div>
        <div class="w-full h-[50%] md:h-full">
          <iframe
            width="100%"
            height="100%"
            src="https://my.matterport.com/show/?m=7w8JcWMMnrk"
            frameborder="0"
            allowfullscreen
            allow="xr-spatial-tracking"></iframe>
        </div>
      </div>
    </div>

    <!-- THIRD SECTION -->
    <div class="flex-none w-full snap-start md:h-[100vh]">
      <div class="flex flex-col justify-center w-full h-full py-8">
        <div class="max-w-5xl px-5 m-auto stat-numbers">
          <Statfacts
            title="Increase sales"
            stat="14"
            subtitle="by inspiring more customers to visit your property"
          />
          <Statfacts
            title="Decrease travel time and cost"
            stat="50"
            subtitle="by removing the need for site visits"
          />
          <Statfacts
            title="Work faster"
            stat="30"
            subtitle="less time to complete projects when teams can access a property anytime and from anywhere"
          />
          <Statfacts
            title="Reduce carbon emissions"
            stat="16"
            subtitle="by eliminating the need for car and plane travel to operate more sustainably"
          />
        </div>
        <div class="w-full max-w-5xl px-10 py-8 m-auto">
          <h1 class="text-4xl contact-us md:text-5xl">
            <a href="mailto:foo@email.com">
              Contact Us <br /> at foo@email.com</a
            >
          </h1>
        </div>
      </div>
    </div>
  </body>
</html>
